[submodule "docs/references/deeplearning-repo-4"]
	path = docs/references/deeplearning-repo-4
	url = https://github.com/yoorobo/Hand-Gesture-Recognition-.git
[submodule "docs/references/ros-repo-2"]
	path = docs/references/ros-repo-2
	url = https://github.com/yoorobo/ShopPinkki.git
[submodule "docs/references/vic_pinky"]
	path = docs/references/vic_pinky
	url = https://github.com/pinklab-art/vic_pinky.git
[submodule "src/openarm_ros2"]
	path = src/openarm_ros2
	url = https://github.com/enactic/openarm_ros2.git
